$primaryColor: #0085FF;

@mixin flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin content-center{
    width:50%;
    margin: 0 auto;
    text-align: center;
}

body {
    // background-color: black;
    margin: 0;
    padding: 0;
}

html {
    // color:white;
}

// =================================
// ========= HOME SECTION ==========
// =================================
#home-wrapper{
    background: #333 url("/public/img/workingspace.jpg") center/150% no-repeat;
    background-blend-mode: hard-light;
    height:100vh;
    width:100%;
    color:white;
}

.navbar{
    height:50px;
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    
    &__list{
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        &-item{
            margin-left:10px;
        }
    }
}

.home-title-container{
    @include flex-box();
    height:50em;
    text-align: center;
}

.home-title-container--blue{
    color:$primaryColor;
}

.btn {
    background-color: $primaryColor;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
    color:white;
}

// =================================
// ======== ABOUT SECTION ==========
// =================================

#about-wrapper{
    height:75vh;
    @include flex-box();
    text-align: center;
}

.profile-picture{
    border-radius: 50%;
    height: 350px;
    width:auto;
}

.about-title{
    color: $primaryColor;
}

.about-content{
    @include content-center();
    margin: 2.5em 0;
}

.books-image{
    margin: 5em 0;
    &__parallax{
        background:url("/public/img/computer.jpg") center/100% fixed no-repeat;
        min-height: 350px;
        width:100%;
    }
}


// =================================
// ======= SERVICE SECTION =========
// =================================
#service-wrapper{
    min-height: 100vh;
}

.service-container{
    @include flex-box();
}